@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic,400italic,700italic);

@font-face {
    font-family: 'icon'; /*a name to be used later*/
    src: url('leksico-webfont.ttf'); /*URL to font*/
}

* {
	-moz-box-sizing: border-box; 
  	-webkit-box-sizing: border-box; 
  	box-sizing: border-box;
  	margin: 0 auto;
}


body {
	max-width: 1000px;
	background: #fff;
	font-family: 'Lato', sans-serif;
}

@media (max-width: 1000px) {
  	body {
		max-width: 700px;
	}
}

@media (max-width: 680px) {
  	body {
		max-width: 600px;
	}
}

/* Global */

h1 {
	margin: 40px 0 10px;
	text-align: center;
	color: #000000;
}

h2 {
	margin: 0 0 10px;
	text-align: center;
	color: #000000;
}

p {
	font-size: 1.1em;
	font-weight: 300;
	text-align: center;
	color: #575757;
}

@media (max-width: 420px) {
	p {
		font-size: 0.95em;
		padding: 0 5px 0 5px;
	}
}

/* ---- Header ----- */

/* TF? */
/*.logo {
	display: block;
	height: 195;
	width: 150;
}*/

.logo img {
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 55px;
}

.menu {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 10px;
    padding: 8px 20px;
    font-family: 'icon';
    font-size: 3.2em;
    line-height: 0.5;
    color: #FFF;
    background-color: #F0775A;
    cursor: pointer;
    z-index: 9999;
}

.menu:hover {
	background-color: #FC8F7A;
}

.menu-open {
	color: #3B3B3B;
}

.nav {
	display: none;
	position: fixed;
	top: 51px;
	right: 0px;
	margin: 0 10px 0 0;
	padding: 15px 0 15px 0;
	list-style: none;
	font-weight: 300;
	background-color: #3B3B3B;
    cursor: pointer;
    z-index: 9999;
}

.show-nav {
	display: inline;
}

.nav li {

	width: 83px;
	text-align: center;
	line-height: 40px;
}

.nav a {
	color: #FFF;
	width: 100%;
	text-decoration: none;
}

.nav li:hover {
	background-color: #4A4A4A;
}

.nav li.selected {
	color: #B3B3B3;
}

/* ---- Home Page ----- */

.homeCopy {
	padding: 0 10px 40px 10px;
	max-width: 940px;
	color: #000000;
	font-size: 1.2em;
	line-height: 30px;
}

@media (max-width: 1000px) {
	.homeCopy p {
		max-width: 390px;
	}
}

span {
	padding: 0 3px 0 3px;
	font-weight: 300;
	color: #F0775A;
	text-decoration: underline;
}

span:hover {
	cursor: pointer;
	color: #B3B3B3;
}

/* ---- Gallery ------*/

.container {
	margin: 0 auto;
	padding: 10px 20px 0 20px;
}

@media (max-width: 680px) {
  	.container {
		max-width: 360px;
	}
}

.item {
	margin: 10px 10px 6px 10px;
}

/* ---- About Page ----- */

.aboutCopy {
	margin: 0 auto;
	max-width: 500px;
}

.aboutCopy p {
	font-size: 1.1em;
	font-style: italic;
	padding: 10px 10px 20px 50px;
	border-bottom: 2px solid #000000;
}

/* ---- Blog ---- */

.blogcolumn {
	margin: 0 auto;
	width: 45%;
}

.blog {
	margin: 0 auto;
	margin-top: 3px;
	font-size: 1.1em;
	font-style: italic;
}

.blogCopy p {
	color: #000000;
	margin-left:auto;
	margin-right:auto;
	font-size: 1.1em;
	/*font-style: italic;*/
	padding: 3px 10px 20px 10px;
	border-bottom: 2px solid #000000;
	max-width: 410px;
}









